.header{
   display: flex;    
   justify-content: space-between;
   border-bottom: 1px solid #f9f9f9;
}
.header__icon{
    padding: 20px;
}

.header__title{
    padding: 30px;
    text-decoration: none;
    color: inherit;
}